.d-flex.justify-content-between.align-items-center.mb-4
  %h1 My Time-Off Requests
  = link_to "Request Time Off", new_time_off_request_path, class: "btn btn-primary"

= turbo_frame_tag "time_off_requests_list", src: time_off_requests_path