%div{"data-controller" => "manager-dashboard",
     "data-manager-dashboard-approve-url-value" => "/api/v1/time_off_requests/:id/approve",
     "data-manager-dashboard-deny-url-value" => "/api/v1/time_off_requests/:id/deny",
     "data-manager-dashboard-time-off-requests-url-value" => "/api/v1/time_off_requests/manager_dashboard"}
  %h1 Manager Dashboard

  %h2 Pending Requests
  .list-group{"data-manager-dashboard-target" => "pendingRequests"}
    = render partial: "request_list", locals: { requests: @pending_requests, show_actions: true }

  %h2 Approved Requests
  .list-group{"data-manager-dashboard-target" => "approvedRequests"}
    = render partial: "request_list", locals: { requests: @approved_requests, show_actions: false }

  %h2 Rejected Requests
  .list-group{"data-manager-dashboard-target" => "rejectedRequests"}
    = render partial: "request_list", locals: { requests: @rejected_requests, show_actions: false }
