= turbo_frame_tag "new_time_off_request", "data-controller" => "time-off-request", "data-time-off-request-index-url-value" => api_v1_time_off_requests_path, "data-time-off-request-create-url-value" => api_v1_time_off_requests_path do
  %h2 New Time Off Request
  = render 'form', time_off_request: @time_off_request
